/*	Sidebar
	======= */
	
.widget {
	margin-bottom: 0.8em;
	
	ul, li {
		margin: 0;
		padding: 0;
	}
	li {
		list-style: none;
	}
	a {
		display: block;
		padding: 0.2em 0;
	}

	.widget-title {
		margin-bottom: 0.2em;
	}
}

.widget_archive {
//	grid-column: 1 / 4;
	ul {
		display: flex;
	    flex-wrap: wrap;
	}
	li {
		width: 50%;
	}		
}


/*	Footer
	======
	
	On some pages, the sidebar appears in the footer, and needs to
	have a different layout.
	
*/

.blog {
	.widget_categories,
	.widget_archive {
		grid-column: 1 / 3;
		
		ul {
			display: flex;
			flex-wrap: wrap;
		}
		li {
			width: 50%;
		}
	}
	.widget_archive {

		@include break(medium, max) {
			ul {
				display: flex;
			    flex-wrap: wrap;
			}
			li {
				width: 50%;
			}		
		}
		@include break(medium) {
			ul {
				display: flex;
			    flex-wrap: wrap;
			}
			li {
				width: 16.6%;
			}		
		}
	}
}








